 Data Frame

In [2]:
import pandas as pd
df = pd.read_csv('poker.csv')

In [4]:
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1   1   1  13   2   4   2   3   1  12      0
1   3  12   3   2   3  11   4   5   2   5      1
2   1   9   4   6   1   4   3   2   3   9      1
3   1   4   3  13   2  13   2   1   3   6      1
4   3  10   2   7   1   2   2  11   4   9      0

In [10]:
df.shape

(99998, 11)

In [12]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99998 entries, 0 to 99997
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S1      99998 non-null  int64
 1   C1      99998 non-null  int64
 2   S2      99998 non-null  int64
 3   C2      99998 non-null  int64
 4   S3      99998 non-null  int64
 5   C3      99998 non-null  int64
 6   S4      99998 non-null  int64
 7   C4      99998 non-null  int64
 8   S5      99998 non-null  int64
 9   C5      99998 non-null  int64
 10  CLASS   99998 non-null  int64
dtypes: int64(11)
memory usage: 8.4 MB

Binary Type

In [15]:
 byte_arr = bytearray('ABCDEF','utf-8')

In [17]:
type(byte_arr)

bytearray

In [19]:
 byte_arr

bytearray(b'ABCDEF')

In [21]:
memoryview(byte_arr)

In [23]:
memoryview( byte_arr)[0]

65

In [25]:
swap = memoryview(byte_arr)
swap[0] = 97

In [27]:
memoryview( byte_arr)[0]

97

In [29]:
swap[1]

66

In [31]:
swap[1] = 67

In [33]:
swap[1]

67

In [35]:
byte_arr

bytearray(b'aCCDEF')