In [2]:
fruits = ['Apple','Mango','Strawberry','Banana','Malta']
for x in fruits:
    print(x)

Apple
Mango
Strawberry
Banana
Malta

In [8]:
for x in range(-100,-9):
    print(x)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [10]:
data = 'python'

In [14]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [20]:
sentance = 'I love to play football in the morning'
sentance = sentance.split()
print(sentance)

['I', 'love', 'to', 'play', 'football', 'in', 'the', 'morning']

In [24]:
for x in range(len(sentance)):
    print(sentance[x],x)

I 0
love 1
to 2
play 3
football 4
in 5
the 6
morning 7

In [26]:
nums = [5,4,3,2,1,5,6,]
total = 0;
for x in nums:
    total = total + x
print(total)

26

In [65]:
sam = 5
result = 1;
for x in range(5,0,-1):
         result = 5*(x - 1)